.book {
  position: relative;
  svg {
    width: 155px;
    height: 159px;
  }

  img {
    position: absolute;
    height: 125px;
    width: 94px;
    left: 39px;
    top: 0;
    object-fit: cover;
    border-radius: 0px 10px 0px 0px;
  }
}
