.logo{
    font-size: 24px;
    margin-top: $bigSpace;
    padding-left: $middleSpace;
    span{
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}